.sign-in-container {
  width: 25%;
  position: relative;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  padding: 2rem 0rem;
  background-color: #fafbfc;
  border-radius: 9px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -30%);
  h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #11172b; 
    color: #11172b;
    line-height: 0.1em;
    margin: 2rem 0rem; 
    padding-top: 2rem;
  } 
  
  h2 span { 
     background:#fff; 
     padding:0 10px; 
  }
  
  .image-container {
    height: 200px;
    overflow: hidden;
    img {
      height: 350px;
      margin: -70px 0 0 0px;
    }
  }
  .google-sign-in {
    position: relative;
    padding-top: 1rem !important;
  }
  .input-names {
    .input-container {
      width: 45%;
    }
    input {
      position: relative;
      display: inline-block;

      width: 65%;
    }
  }
  .input-phone_container {
    padding: 0rem 1rem;
    .react-tel-input .form-control {
      width:100%;
    }
  }
  .input-container {
    position: relative;
    display: inline-flex;
    width: 100%;
    svg {
      position: absolute;
      z-index: 1;
      left: 25px;
      top: 28px;
      fill: #11172b;
      width: 20px;
      height: 20px;
    }
  }
  .input-register {
    background: white;
    border-radius: 9px;
    margin: 1rem;
    border: 1px solid #d6d9dd;
    height: 40px;
    outline: 1px solid transparent;
    transition: border 0.25s linear;
    font-size: 16px;
    font-weight: 300;
    border-radius: 9px;
    border-radius: 4px;
    padding-left: 2.2rem;
    box-shadow: none;
    color: #767676;
    margin-bottom: 10px;
    width: 90%;

    &:hover {
      border-color: #adb3bd;
    }
  }

  .button-register {
    background: #11172b;
    padding: 1rem;
    color: white;
    margin: 0 auto;
    width: 50%;
    font-size: 18px;
    position: relative;
    top: 2rem;
    border-radius: 9px;
  }
  .register-text {
    position: relative;
    padding-top: 1.5rem;
  }
}