.navbar-search {
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 9999999999;

  background-color: #11172b;
  .search-container {
    top: unset;
  }
}

.navbar-container {
  padding: 0.4rem 100px;
  position: relative;
  box-shadow: 0 1px 0 #c2cbd4;
  background-color: white;
  z-index: 545454;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  &.navbar-home {
    background: none;
    box-shadow: none;
    position: absolute;

    .upper, .lower {

      div {
        color: white;

      }
    }
  }
  &.hidden {
    position: relative;
  }
  .navbar-logo {
    height: 100px;
    width: 340px;
    overflow: hidden;
    img {
      height: 300px;
      margin: -80px 0 0 0px;
    }
  }

  .navbar-components {
    flex-direction: row;
    align-items: center;
    position: relative;
    float: right;
    text-transform: uppercase;
    .upper {
      div {
        width: 18%;
        float: right;
      }
    }

    .lower {
      div {
        width: 18%;
      }
    }
    div {
      margin: 0rem 1.5rem;
      color: #11172b;
      display: inline-flex;
      justify-content: end;
      padding: 0.4rem 0rem;
      font-size: 14px;
      width: 100%;
      font-weight: bold;
    }

    .navbar-advert {
      color: #f93e3e;
    }
  }
}
