.landing-featured-sell {
  background-color: white;
  .saved-w {
    text-align: left;
    position: relative;
    padding: 0rem 7rem;
    .react-multiple-carousel__arrow {
      top: 45%;
    }
    .react-multi-carousel-item  {
      display: flex;
      justify-content: center;
    }

    .react-multi-carousel-list {

      .react-multiple-carousel__arrow--right {
        right: 0rem !important;
      }
      .react-multiple-carousel__arrow--left {
        left: 0rem  !important;
      }
    }
    .saved-container {
      position: relative;
      background-color: white;
      width: 95%;
      display: inline-block;
      text-align: left;
      overflow: hidden;
      border-radius: 5px;

      div {
          margin: 0.2rem 0rem;
        
      }
      .image-container {
        position: relative;
        display: inline;
        overflow: hidden;
        height: 100%;
        img {
          object-fit: cover;
          overflow: hidden;
          height: 50%;
          width: 100%;
          margin: 0 auto;
        }
      }
      .text-information {
        .address {
          overflow: hidden;
          display: -webkit-box;
          font-weight: bold;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .prices {
          text-align: left;
          .original {
            font-size: 17px;
            font-weight: bold;
          }
          .converted {
            font-size: 17px;
          }
        }
        .description {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          min-height: 2.5rem;
          -webkit-box-orient: vertical;
        }
        .lower-information {
          position: relative;
          display: flex;
          color:#6c6b6b;
          vertical-align: bottom;
          justify-content: flex-start;
          align-items: center;

          div {
            margin-right: 0.25rem;
            &:not(:first-child) {
              margin-left: 0.25rem;

            }
          }
        }
      }
    }
    .properties-saved {
      height: 300px;
      background: #f4f4f5;
      width: 100%;
      margin: 1rem;
      position: relative;
      border-radius: 5px;
      margin: 0 auto;
      display: table;
      .empty {
        vertical-align: middle;
        position: relative;
        display: table-cell;
        img {
          width: 5%;
        }

        .search-properties {
          background-color: #fff;
          border: 2px solid #185ab9;
          color: #262637;
          border-radius: 8px;
          width: 15%;
          margin: 0 auto;
          padding: 10px 16px;
        }
      }
    }
  }
}
