.horizontal_listing-container {
    overflow: hidden;
    height: 150px;
    text-align: left;
    box-shadow: 0 2px 17px 2px #2726261a;
    margin-bottom: 20px;
}

.lower-information{
    vertical-align: middle;
    display: inline-flex;
    margin-top: 10px;
    position: relative;
    div, span {
        margin: 0px 10px;
    }
    span {
        vertical-align: super;
    }
}

.right-information {
    height: 100%;
    position: relative;
    display: inline-block;
    float: right;
    text-align: center;
    border-left: 1px solid #d7d7d7;
    overflow: hidden;
        .price {
        height: 70%;
        margin: 0 auto;
        position: relative;
        display: inline-table;
        vertical-align: middle;
        border-bottom: 1px solid #d7d7d7;
        width: 100%;
        span {
         display: table-cell;
        vertical-align: middle;
        }
    }
    .favourites {
        text-transform: uppercase;
        height: 30%;
        margin: 15px;
    }
}